

p{
  color: #7A7B7B  ;
  font-size: 15px;
  display: flex;
  place-content: center;
  font-weight: 600;
}

a{
  color: #efdfd9;
  font-size: 13px;
  display: block;
  border-bottom: 1px solid;
  border-color:#B5B5B5  ;
}

h4{
  margin-inline-start: 15px;
}
.money{
 font-size: 16px;
 justify-content: center;
 align-items: center;
 flex: content;
 margin-top: -2px;
}
.target_money{
  color: #858585;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  margin-top: -5px;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.target_text{
  font-size: 14px;
  color: #ECEAEA
}
.App-header {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#target{
  width: 365px;
  height: 161px;
  direction: ltr;
  background: #efeeee;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.header{
  background-color: #000000a3;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  height: 35px;
  align-items: center;
  margin-bottom: 15px;
}
.inside{
  background: #fefafa;
  border-radius: 4px;
  box-shadow: 0 0 1px;
  width: 335px;
  height: 95px;
  display: inline-block;
  border-color: #E3E2E2  ;
  border-width: 1px;
  border-style: solid;
}
.progress-bar {
  height: 12px;
  width: 135px;
  border: 0px solid #333;
  margin-inline-start: 25px;
  background-color: #CDCDCD ;
  margin-top: 4px;
}
.range {
  background: #00A9F5 ;
  height: 60%;
  border-radius: inherit;
  transition: width .3s ease-in;
  margin-top: 2px;
  margin-left: 5px;
  max-width: 125px;
}
.range_money{
   height: 60%;
  border-radius: inherit;
  transition: width .3s ease-in;
  margin-left: 7px;
  max-width: 125px;
}
.target_btn{
  width: 48px;
  height: 40px;
  background: #898282;
  border-radius: 3px;
  justify-content: center;
  align-items: center

}
.inside_block{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.more{
  color: #898989  ;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}
.more_none{
  display: none;
}

.color{
  background-color:#00A910;
}